@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

pre {
  @apply text-base !important; 
}

a {
  @apply text-blue-600 underline;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #020615;

  position: static;
  top: 0px !important;

  /* overflow-x: hidden; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  scroll-behavior: smooth;
  margin-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #26304e;
  scroll-behavior: smooth;
  margin-right: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  scroll-behavior: smooth;
  background: linear-gradient(#aa7fe2, #ee4613);
  border-radius: 5px;
  margin-right: 10px;
}

.gradiant-background {
  background-image: radial-gradient(#2e213b 5%, #261c36 25%, #020615 60%);
}

.text-editor .ql-container {
  background: #242222;
  border-radius: 12px;
  border: none !important;
}

.text-editor .ql-snow.ql-toolbar {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  background: #242222;
  border: 2px solid rgba(128, 128, 128, 0.6);
  padding: 16px !important;
  margin-bottom: 20px;
}

.text-editor .ql-snow.ql-toolbar button {
  width: 36px;
  height: 36px;
  margin-left: 4px;
  margin-right: 4px;
}

.text-editor .ql-snow .ql-picker {
  height: 36px;
  width: 136px;
  margin-top: 4px;
  font-size: 20px;
}

.text-editor .ql-editor {
  min-height: 18em;
  padding: 16px;
  font-size: medium;
}

.text-editor .quill {
  overflow-x: auto;
}

.ql-editor .ql-video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.skiptranslate {
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
  background-color: transparent !important;
  box-shadow: none !important;
}